img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 150px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  color: black;
}

#search {
  width: 400px;
  height: 45px;
  position: absolute;
  z-index: 2;
  left: 40%;
  top: 330px;
}

body {
  text-align: center;
}

#search {
  width: 375px;
  margin: 4px auto;
  text-align: center;
  display: inline-block;

input {
  size: ;: 60;
}