img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 150px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  color: black;
}


body {
  text-align: center;
}

#search {
  width: 400px;
  margin: 200px auto;
  text-align: center;
  display: inline-block;


}

.bar {
  width: 600px;
  border-radius: 25px;
  height: 30px;
  border: solid 2px lightgray;

}

#editbutton {
  width: 600px;
  margin: 200px auto;
  text-align: center;
  display: inline-block;


}

.square {
  width: 125px;
  height: 30px;
  background-color: rgb(211, 211, 211);
}